<html>
  <head></head>
  <body>
    <div>
    {{#each events_by_source as |events source|}}
    {{source}}
    <br/>

    {{#each events as |event|}}
      <p style="padding-left: 15px;">
        <a style="padding: 5px; background-color: #ff6161; {{#if (eq event.code 0)}} background-color: #abd69a;{{/if}}" href="/events/{{event.id}}">{{event.date}}</a>
      </p>
    {{/each}}

    {{/each}}
    </div>
  </body>
</html>
