<html>
  <head></head>
  <body>
    <div>
    <br/>
      <p style="padding-left: 15px;">
        <b>ID: </b>{{event.id}}
        <br/>
        <b>DATE: </b> {{event.date}}
        <br/>
        <b>CODE: </b> {{event.code}}
        <br/>
        <b>OUTPUT: </b>
        <br/>
        {{event.output}}
      </p>
    </div>
  </body>
</html>
